
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left my-5">I'm Francisco Inoque</h1>
          <h5 class="text-on-back">01</h5>
          <p class="profile-description my-5">
            Hello, welcome to my portfolio, first of all let me introduce myself, I Francisco, I am a fullstack javascript developer. in addition to software development, I also work with Digital Marketing, Branding and Naming. So, enjoy my portfolio.
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="https://github.com/frantchessico"
              target="_blank"
            >
            <i class="fab fa-github"></i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://web.facebook.com/ferrao.verdadepascual/"
              target="_blank"
            >
            <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-dribbble btn-round"
              href="https://www.instagram.com/frantchessico/"
              target="_blank"
            >
            <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/IMG_20200912_033101.jpg"
              />

              <h4 class="title">My Stacks</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
               
                <tab heading="Server">
                
                    
                  <div class="progress-container progress-danger">
                    <span class="progress-badge"> Node.js </span>
                    <progressbar class="progress-bar-danger" [value]="95">
                      <span class="progress-value"> 95% </span>
                    </progressbar>
                  </div>

                  <div class="progress-container progress-danger">
                    <span class="progress-badge"> Python </span>
                    <progressbar class="progress-bar-danger" [value]="20">
                      <span class="progress-value"> 20% </span>
                    </progressbar>
                  </div>

                  <div class="progress-container progress-danger">
                    <span class="progress-badge"> GoLang </span>
                    <progressbar class="progress-bar-danger" [value]="35">
                      <span class="progress-value"> 35% </span>
                    </progressbar>
                  </div>
                    
                  
                </tab>



                <tab heading="Client">
                
                    
                    <div class="progress-container progress-primary">
                      <span class="progress-badge"> Angular </span>
                      <progressbar class="progress-bar-primary" [value]="90">
                        <span class="progress-value"> 90% </span>
                      </progressbar>
                      </div>

                      <div class="progress-container progress-primary">
                        <span class="progress-badge"> React </span>
                        <progressbar class="progress-bar-primary" [value]="60">
                          <span class="progress-value"> 60% </span>
                        </progressbar>
                        </div>

                        <div class="progress-container progress-primary">
                          <span class="progress-badge">Vue.js </span>
                          <progressbar class="progress-bar-primary" [value]="40">
                            <span class="progress-value"> 40% </span>
                          </progressbar>
                          </div>
                    
                  
                </tab>
                <tab heading="DataB">
                  <div class="progress-container progress-info">
                    <span class="progress-badge"> Cloud firestore </span>
                    <progressbar class="progress-bar-info" [value]="80">
                      <span class="progress-value"> 80% </span>
                    </progressbar>
                  </div>
                  <div class="progress-container progress-info">
                    <span class="progress-badge"> Realtime Database </span>
                    <progressbar class="progress-bar-info" [value]="80">
                      <span class="progress-value"> 80% </span>
                    </progressbar>
                  </div>
                  <div class="progress-container progress-info">
                    <span class="progress-badge"> MongoDB </span>
                    <progressbar class="progress-bar-info" [value]="75">
                      <span class="progress-value"> 75% </span>
                    </progressbar>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">

            <img
            alt="Third slide"
            class="d-block"
            src="assets/img/mobile_francisco_inoque.gif"
          />
           
          </div>
        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">What can I do?</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description text-left">
            As a JavaScript developer, I am able to do everything from lead capture pages, corporate websites, chat bots, ecommerce, marketplace, chats to complex applications. And as a Digital Marketing agent, I can work with email marketing, marketing automation, SEO, traffic, and more.
          </p>
          <div class="btn-wrapper pt-3">
            <button
              class="btn btn-simple btn-danger mr-1"
              href="javascript:void(0)"
            >
              <i class="tim-icons icon-book-bookmark"> </i> Web Development
            </button>
            <button class="btn btn-simple btn-info" href="javascript:void(0)">
              <i class="tim-icons icon-bulb-63"> </i> Mobile Development
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Contact</h1>
              <h5 class="text-on-back">03</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First name </label>
                      <input formControlName="firstName" class="form-control" type="text" value="John" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Last name </label>
                      <input
                      formControlName="lastName"
                        class="form-control"
                        placeholder="Doe"
                        type="text"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email address</label>
                      <input formControlName="email" class="form-control" type="email" value="doe@email.com" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> phone </label>
                      <input
                      formControlName="phoneNumber"
                        class="form-control"
                        value="(+258) 84 935 0920"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Company </label>
                      <input
                      formControlName="company"
                        class="form-control"
                        type="text"
                        value="SavanaPoint"
                        
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">

                      <label> Role </label>
                      <input
                      formControlName="role"
                        class="form-control"
                        type="text"
                       placeholder="Developer"
                        
                      />
                     
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <input
                      formControlName="message"
                        class="form-control"
                        placeholder="Hello there!"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                <span>{{uxMessage}}</span>
                 <span>{{default}}</span>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="far fa-envelope"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Give me a hello:</h4>
              <p>
               jaimeinoque20@gmail.com <br />

                tchessico@live.com <br />

                franciscojaimeinoque@gmail.com
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Give me a ring</h4>
              <p>
                Francisco Inoque <br />

                +258 84 935 0920 <br />

                Mon - Fri, 8:00-22:00
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
      
        
        <div class="">
          <h3 class="title">Follow me:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://github.com/frantchessico"
              target="_blank"
            >
            <i class="fab fa-github"></i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://web.facebook.com/ferrao.verdadepascual/"
              target="_blank"
            >
            <i class="fab fa-facebook-square"> </i>
             
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.instagram.com/frantchessico/"
              target="_blank"
            >
            <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>



