
<div class="fab-container mb-5" >

    <div class="fab-icon-holder fab" >

        <i class="fas fa-2x fa-comment"></i>
      
    </div>

    <ul class="fab-options">
         <li>
            <!-- <span class="fab-label">Texto 2</span> -->
            <div class="fab-icon-holder" >
               
                
            </div> 
         </li>

         <li>
            <span class="fab-label">Texto 3</span>
            <div class="fab-icon-holder" >
               
                <i class="fas fa-2x fa-comment"></i>
              
            </div> 
         </li>

        

         <li>
            <span class="fab-label">Texto 4</span>
            <div class="fab-icon-holder" >
              
               
                <i class="fas fa-2x fa-comment"></i>
              
            </div> 
         </li>
    </ul>
    
</div>


